<!doctype html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Email de confirmation</title>
    {{ include('email/includes/_style.html.twig') }}
</head>
<body>

</body>
</html>