<h2>Salut Mr/Mme  </h2>

<p>
    Vous venez de créer un compte sur Paie Cash. Avant de pouvoir utiliser votre compte, vous devez vérifier que
    cette adresse e-mail est bien la vôtre en cliquant ici :
</p>

<a href="{{ path() }}">Confirmer votre adresse E-mail</a>

<p>Si vous n'êtes pas l'auteur de cette opération veillez ignorer cette E-mail</p>

<p>Cordialement, Paie Cash</p>