<h2>Salut Mr/Mme {{ user }} </h2>

<p>
    Vous souhaiter reinitialisé votre mot de passe Paie Cash.
</p>


<p>Si vous n'êtes pas l'auteur de cette opération veillez ignorer cette E-mail</p>

<p>Cordialement, Paie Cash</p>